<div class="container custom-container">
  
  <div class="job-details">
    <div class="row"> 
      <div class="col-md-12">
        <h3><%= @job.title %><h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span class="less-highlight">Budget : </span>
        <span>£<%= @job.price %></span>
      </div>
      <div class="col-md-6">
        <span class="glyphicon glyphicon-calendar"></span>
        <span class="less-highlight">Time : </span>
        <span><%= @job.time_duration %></span>
      </div>
      <div class="col-md-3">
        <span class="glyphicon glyphicon-time"></span>
        <span class="less-highlight">Posted</span>
        <span><%= time_ago_in_words(@job.created_at) %></span>
        <span class="less-highlight">ago</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="custom-table-cell-description-details"><%= @job.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="less-highlight">Category : </span>
        <span><%= @job.str_categories %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-record"></span>
        <span class="less-highlight">Proposals : </span>
        <span><%= @job.proposals.count %></span>
      </div> 
      <div class="col-md-6">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span class="less-highlight">Location : </span>
        <span><%= @job.postcode %></span>
      </div>
    </div>
    
  </div>

</div>

<div class="container">
  <%= button_to 'Submit A Proposal', new_proposal_path(:job_id => @job.id), {method: :get, class: "btn btn-warning pull-right", style: "padding:15px;"}%>
</div>