<div class="container">
  <h4>In Progress Job Details</h4>
</div>
<div class="container custom-container">
  <div class="row">
    <div class="col-md-9">
      <h4><%= @job.title %></h4>
    </div>
    <div class="col-md-3">
      <span class="glyphicon glyphicon-time"></span>
      <span class="less-highlight">Started </span>
      <span><%= @job.started_at.to_date %></span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <p class="custom-table-cell-description-details"><%= @job.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="less-highlight">Budget : </span>
      <span>£ <%= @job.price %></span>
    </div>
    <div class="col-md-4">
      <span class="less-highlight">Earned : </span>
      <span>£ <%= @job.earned_by_freelancer %></span>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-map-marker"></span>
      <span class="less-highlight">Location : </span>
      <span><%= @job.postcode %></span>
    </div>
  </div>
</div>

<div class="container">
  <h5> - - - Client - - - </h5>
</div>

<div class="container custom-container">
  <div class="row">

    <div class="col-md-2">
      <div class="profile-header-container">
        <div class="profile-header-img">
          <%= show_avatar(@job.user, "avatar-circle") %>
        </div>
      </div>
    </div>
    
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <h3><%= @job.user.name %></h3>
        </div>
      </div>

      </br>
      <div class="row">
        <%= link_to 'Contact', conversations_path(sender_id: current_user.id, recipient_id: @job.user_id), {method: 'post', class: "btn btn-info", style: "width: 100px;"} %>
      </div>

    </div>

  </div>
</div>