<p id="notice"><%= notice %></p>

<h1>Proposals</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Price</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.job_id %></td>
        <td><%= proposal.price %></td>
        <td><%= proposal.description %></td>
        <td><%= proposal.start_date %></td>
        <td><%= proposal.end_date %></td>
        <td><%= proposal.user_id %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
