<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @proposal.job_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @proposal.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @proposal.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @proposal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @proposal.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposal.user_id %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
