


<div class="container custom-container">

  <div class="custom-table-cell">

    <div class="row">

      <div class="col-md-2">
        <div class="profile-header-container">
          <div class="profile-header-img">
            <%= show_avatar(@proposal.user, "avatar-circle-lg") %>
          </div>
        </div> 
      </div>
      
      <div class="col-md-10">

        <div class="row">
          <div class="col-md-8">
            <h3> <%= @proposal.user.name %> </h3>
          </div>

          <div class="col-md-2">
            <%= button_to 'Contact', conversations_path(sender_id: current_user.id, recipient_id: @proposal.user_id), {method: 'post', class: "btn btn-info", style: "margin-top:15px; width: 100px;"} %>
          </div>
            
          <div class="col-md-2">
            <%= button_to 'Hire', hire_freelancer_jobs_path(job_id: @proposal.job_id, freelancer_id: @proposal.user_id), {method: 'post', class: "btn btn-success", style: "margin-top:15px; width: 100px;"} %>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <h4> <%= @proposal.user.title %> </h4>
          </div>
        </div>

        </br>

        <div class="row">
          <div class="col-md-3">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span class="less-highlight">Location : </span>
            <span><%= @proposal.user.postcode %></span>
          </div>

          <div class="col-md-9">
            <span class="less-highlight">Category : </span>
            <span><%= @proposal.user.profession %></span>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="custom-table-cell row">

    <div class="col-md-12">
      <h3>Proposal Letter</h3>
    </div>
    
    <div class="col-md-12">
      <p class="custom-table-cell-description"><%= @proposal.description %></p>
    </div>

  </div>

  <div class="custom-table-cell row">

    <div class="col-md-12">
      <h3>OVERVIEW</h3>
    </div>
    
    <div class="col-md-12">
      <p class="custom-table-cell-description"><%= @proposal.user.overview %></p>
    </div>

  </div>
</div>