<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
   <%= devise_error_messages! %>
   <div class="container" align="center">
       <div class="panel panel-default">
    	  <div class="panel-heading">
		   	  <div class="form-group" >
		  	      <h2 align="center">Forgot your password?</h2>
		  	  </div>
		 	  <div class="form-group">
				  <div class="input-group" >
					  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
				  	  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter email"%>
				  </div>
			  </div>

		      <div class="form-group">
			      <div class="actions">
			        <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
			      </div>
			  </div>
		  </div>
	   </div>
   </div>
<% end %>
<div class="container" align="center">
	<%= render "users/shared/links" %>
</div>