<!DOCTYPE html>
<html>
  <head>
    <title>Structured Thinking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  </head>



  <body>
  <% if current_user.present? && ( ( current_user.email_confirmed? && current_user.email_confirmed == false ) || ( !current_user.email_confirmed? ) ) %>
    <div class="container-fluid <%= controller.controller_name %>">
      <%= yield %>
    </div>
  <% else %>
    <%= render 'shared/navbar' %>
    <div class="container-fluid <%= controller.controller_name %>">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  <% end %>
  </body>
</html>
