
<div class = "container" align = "center" id = "signup_form">
  <div class="col-lg-12">
  </br>
  <h1 align="center">Please input your details</h1>
  </br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="panel panel-default">
      <div class="panel-heading">

        <div class="btn-group btn-group-justified form-group" data-toggle="buttons-radio">
          <div>
            <%= f.radio_button :user_type, "Client" %>
            <span>Hire a Freelancer</span>
          </div>
          <div>
            <%= f.radio_button :user_type, "Freelancer" %>
            <span>Work as a Freelancer</span>
          </div>
        </div>

        <div class="form-group" >
          <%= image_tag('avatar.png', id: "img-preview", width: 150, height: 150, alt: "", class: "") %>
          <br/><br/>
          <%= f.label :image, 'Add a pic?'%>
          <%= f.file_field :image, class: 'photo_upload', id: 'avatar-upload' %>
        </div>

        <div class="form-group">
          <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "FirstName"  %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, autofocus: true, class: "form-control" , placeholder: "LastName"  %>
        </div>

        <div class="form-group">
          <%= f.text_field :postcode, autofocus: true, class: "form-control" , placeholder: "Enter postcode"  %>
        </div>

        <div class="form-group" >
          <%= f.email_field :email, autofocus: true, class: "form-control" ,placeholder: "Email: example@domain.com" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: "form-control",placeholder: "Create a password" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" ,placeholder: "Password confirm" %>
        </div>
        
        <br>
        <div class="form-group" id = "button">
          <%= f.submit "Sign up", class: "btn btn-success" %>
        </div>
        <div id ="button">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>